/build
/resource/Settings.bundle/OpenSourceLicenses
/resource/Settings.bundle/OpenSourceLicenses.plist
/resource/Info.template.plist
/fastlane/Fastfile
/fastlane/README.md
/fastlane/report.xml
*.o
*.swiftdeps
*.d
*.dia
*.swiftconstvalues
