[submodule "deps/ios-cmake"]
	path = deps/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "deps/je2be-core"]
	path = deps/je2be-core
	url = https://github.com/kbinani/je2be-core.git
